.mw-10 {
    max-width: 10rem !important;
}

.mw-20 {
    max-width: 20rem !important;
}

.mw-30 {
    max-width: 30rem !important;
}

.mw-40 {
    max-width: 40rem !important;
}

.mw-50 {
    max-width: 50rem !important;
}

.mw-60 {
    max-width: 60rem !important;
}

.mw-70 {
    max-width: 70rem !important;
}

.mw-80 {
    max-width: 80rem !important;
}

.mw-90 {
    max-width: 90rem !important;
}

.mw-100 {
    max-width: 100rem !important;
}