html {
    height: 100%;
}

body {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.mw-10 {
    max-width: 10rem !important;
}

.mw-20 {
    max-width: 20rem !important;
}

.mw-30 {
    max-width: 30rem !important;
}

.mw-40 {
    max-width: 40rem !important;
}

.mw-50 {
    max-width: 50rem !important;
}

.mw-60 {
    max-width: 60rem !important;
}

.mw-70 {
    max-width: 70rem !important;
}

.mw-80 {
    max-width: 80rem !important;
}

.mw-90 {
    max-width: 90rem !important;
}

.mw-100 {
    max-width: 100rem !important;
}

.full-width {
    width: 100%;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.t-1 {
    top: 4px;
}
.t-2 {
    top: 8px;
}
.t-3 {
    top: 12px;
}
.t-4 {
    top: 16px;
}
.t-5 {
    top: 20px;
}
.t-6 {
    top: 24px;
}

.b-1 {
    bottom: 4px;
}
.b-2 {
    bottom: 8px;
}
.b-3 {
    bottom: 12px;
}
.b-4 {
    bottom: 16px;
}
.b-5 {
    bottom: 20px;
}
.b-6 {
    bottom: 24px;
}

.l-1 {
    left: 4px;
}

.l-2 {
    left: 8px;
}

.l-3 {
    left: 12px;
}

.l-4 {
    left: 16px;
}

.l-5 {
    left: 20px;
}

.l-6 {
    left: 24px;
}

.r-1 {
    right: 4px;
}

.r-2 {
    right: 8px;
}

.r-3 {
    right: 12px;
}

.r-4 {
    right: 16px;
}

.r-5 {
    right: 20px;
}

.r-6 {
    right: 24px;
}