html {
    height: 100%;
}

body {
    height: 100%;
    /*overflow-y: scroll;*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.maxw-10 {
    max-width: 10rem !important;
}

.maxw-20 {
    max-width: 20rem !important;
}

.maxw-30 {
    max-width: 30rem !important;
}

.maxw-40 {
    max-width: 40rem !important;
}

.maxw-50 {
    max-width: 50rem !important;
}

.maxw-60 {
    max-width: 60rem !important;
}

.maxw-70 {
    max-width: 70rem !important;
}

.maxw-80 {
    max-width: 80rem !important;
}

.maxw-90 {
    max-width: 90rem !important;
}

.maxw-100 {
    max-width: 100rem !important;
}

.full-width {
    width: 100%;
}