.map {
  width: 100%;
  height: 450px;
  --farmos-map-accent-color: rgb(var(--v-theme-primary));
}

.map >>> .layer-switcher ul {
  margin: 0;
}

.map >>> .ol-rotate {
  display: none;
}

.map >>> .ol-full-screen {
  display: none;
}

.map >>> .ol-control.layer-switcher {
  top: 0.5em;
}

.map >>> .geotrace-ctrl button.play {
  background-color: var(--farmos-map-accent-color);
}

.map >>> .geotrace-ctrl button.play:active {
  filter: brightness(0.75);
}

.map >>> .geotrace-ctrl button.play svg path {
  fill: white;
}

.map >>> .geotrace-ctrl button.save:active {
  filter: brightness(0.75);
}

/* deep selector is required to pierce component boundary for scoped styles 
but jest doesn't understand the deep selector (>>>)
 */
.hide-polygon >>> .ol-edit-polygon,
.hide-point >>> .ol-edit-point,
.hide-line >>> .ol-edit-line,
.hide-circle >>> .ol-edit-circle,
.hide-modify >>> .ol-edit-modify,
.hide-move >>> .ol-edit-move,
.hide-geotrace >>> .ol-edit-geotrace,
.hide-polygon .ol-edit-polygon,
.hide-point .ol-edit-point,
.hide-line .ol-edit-line,
.hide-circle .ol-edit-circle,
.hide-modify .ol-edit-modify,
.hide-geotrace .ol-edit-geotrace,
.hide-move .ol-edit-move {
  display: none;
}

.fields-table td input {
  width: 100%;
  height: 100%;
}

.fields-table td input:focus {
  outline: none;
}

.keep-open-alert {
}
